<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Table>
        <Tr>
            <Th>
                student_id
            </Th>
            <Th>
                f_name
            </Th>
            <Th>
                l_name
            </Th>
            <Th>
                subject_id
            </Th>
            <Th>
                subject_name
            </Th>
            <Th>
                grade
            </Th>
            <Th>
                f_name_teacher
            </Th>
            <Th>
                l_name_teacher
            </Th>
        </Tr>
        <tr>
            <Th>
                6406022620031
            </Th>
            <Th>
                Chalongrath
            </Th>
            <Th>
                Kodlord
            </Th>
            <Th>
                060233112
            </Th>
            <Th>
                DATA ENGINEERING
            </Th>
            <Th>
                A+
            </Th>
            <Th>
                Sarayoot
            </Th>
            <Th>
                Tanessakulwattana
            </Th>
        </tr>

        <tr>
            <Th>
                6406022620011
            </Th>
            <Th>
                Bunnapon
            </Th>
            <Th>
                Takumwan
            </Th>
            <Th>
                060233112
            </Th>
            <Th>
                DATA ENGINEERING
            </Th>
            <Th>
                B
            </Th>
            <Th>
                Sarayoot
            </Th>
            <Th>
                Tanessakulwattana
            </Th>
        </tr>
        <tr>
            <Th>
                6406022620037
            </Th>
            <Th>
                Bunnapon
            </Th>
            <Th>
                Takumwan
            </Th>
            <Th>
                060233113
            </Th>
            <Th>
                ADVANCED COMPUTER PROGRAMMIN
            </Th>
            <Th>
                C+
            </Th>
            <Th>
                Anirach
            </Th>
            <Th>
                Mingkhwan
            </Th>
        </tr>

        <tr>
            <Th>
                6406022620011
            </Th>
            <Th>
                Jakapat
            </Th>
            <Th>
                Jodduangchan
            </Th>
            <Th>
                060233112
            </Th>
            <Th>
                DATA ENGINEERING
            </Th>
            <Th>
                D+
            </Th>
            <Th>
                Sarayoot
            </Th>
            <Th>
                Tanessakulwattana
            </Th>
        </tr>

        <tr>
            <Th>
                640602262011
            </Th>
            <Th>
                Jakapat
            </Th>
            <Th>
                Jodduangchan
            </Th>
            <Th>
                060233113
            </Th>
            <Th>
                ADVANCED COMPUTER PROGRAMMIN
            </Th>
            <Th>
                D
            </Th>
            <Th>
                Anirach
            </Th>
            <Th>
                Mingkhwan
            </Th>
        </tr>
        
        
        
        
        
    </Table>
</body>
</html>